.ios .navbar ~ .page-with-subnavbar:not(.no-navbar) .page-content, .ios .navbar ~ :not(.no-navbar) .subnavbar ~ * .page-content, .ios .navbar ~ :not(.no-navbar) .subnavbar ~ .page-content, .ios .page-with-subnavbar .navbar ~ .page-content {
  padding-top: 0 !important; }
  .ios .navbar ~ .page-with-subnavbar:not(.no-navbar) .page-content .tabs-animated-wrap, .ios .navbar ~ :not(.no-navbar) .subnavbar ~ * .page-content .tabs-animated-wrap, .ios .navbar ~ :not(.no-navbar) .subnavbar ~ .page-content .tabs-animated-wrap, .ios .page-with-subnavbar .navbar ~ .page-content .tabs-animated-wrap {
    padding-top: 88px; }

.ios .toolbar.toolCon {
  top: 89px !important; }

.ios .tabbar-labels ~ * .page-content, .ios .tabbar-labels ~ .page-content {
  padding-bottom: 44px; }

.popover-angle.on-bottom {
  display: none; }

.md .page > .navbar ~ .searchbar {
  top: 45px; }

.md .page > .searchbar ~ * .page-content, .md .page > .searchbar ~ .page-content {
  padding-top: 94px !important; }

.md .searchbar input[type=search], .md .searchbar input[type=text] {
  font-size: 16px; }

.md .page > .searchbar:after {
  background: none; }

.ios .navbar ~ .page:not(.no-navbar) > .searchbar, .ios .page > .navbar ~ .searchbar {
  top: 44px; }

#equips .searchbar {
  z-index: 99;
  background: #fff; }
  #equips .searchbar:after {
    height: 0; }
  #equips .searchbar .search {
    background: #f6f6f6; }
  #equips .searchbar .searchbar-disable-button {
    color: #FD971F; }
#equips .ios .searchbar:after {
  height: 0; }
#equips .equip-list {
  background: #fff; }
  #equips .equip-list li i {
    color: #7D828F; }
    #equips .equip-list li i.noCom {
      color: #7D828F; }
    #equips .equip-list li i.alarm {
      color: #FE4445; }
    #equips .equip-list li i.comOk {
      color: #54BB5C; }

#ycAndyx .searchbar {
  z-index: 99;
  background: #fff; }
  #ycAndyx .searchbar:after {
    height: 0; }
  #ycAndyx .searchbar .search {
    background: #f6f6f6; }
  #ycAndyx .searchbar .searchbar-disable-button {
    color: #FD971F; }
#ycAndyx .ios .searchbar:after {
  height: 0; }
#ycAndyx .toolbar {
  top: 50px;
  border-bottom: 1px solid #eee; }
  #ycAndyx .toolbar:after {
    height: 0; }
  #ycAndyx .toolbar .toolbar-inner {
    overflow: hidden; }
    #ycAndyx .toolbar .toolbar-inner > a.tab-link.tab-link-active {
      color: #FD971F;
      border-bottom: 2px solid  #FD971F; }
#ycAndyx #tabsWrap {
  height: calc(100% - 50px); }
  #ycAndyx #tabsWrap .tab {
    overflow: auto; }
    #ycAndyx #tabsWrap .tab .itemOne {
      width: 100%;
      background: #fff;
      overflow: hidden;
      padding-left: 15px;
      box-sizing: border-box;
      border-bottom: 1px solid #eee; }
      #ycAndyx #tabsWrap .tab .itemOne .name {
        font-weight: 600;
        letter-spacing: 2px; }
      #ycAndyx #tabsWrap .tab .itemOne div {
        width: 100%;
        overflow: hidden;
        margin: 0em 0 1em 0;
        display: flex;
        align-items: center; }
        #ycAndyx #tabsWrap .tab .itemOne div p {
          color: #666;
          padding-right: 10px;
          text-align: center; }
          #ycAndyx #tabsWrap .tab .itemOne div p i {
            color: #7D828F; }
            #ycAndyx #tabsWrap .tab .itemOne div p i.noCom {
              color: #7D828F; }
            #ycAndyx #tabsWrap .tab .itemOne div p i.alarm {
              color: #FE4445; }
            #ycAndyx #tabsWrap .tab .itemOne div p i.comOk {
              color: #54BB5C; }
    #ycAndyx #tabsWrap .tab#set .itemOne {
      text-align: left; }
      #ycAndyx #tabsWrap .tab#set .itemOne .name {
        font-weight: normal; }
      #ycAndyx #tabsWrap .tab#set .itemOne p {
        margin: 1.5em 0; }

/*# sourceMappingURL=equips.css.map */
