.ios .navbar ~ .page-with-subnavbar:not(.no-navbar) .page-content, .ios .navbar ~ :not(.no-navbar) .subnavbar ~ * .page-content, .ios .navbar ~ :not(.no-navbar) .subnavbar ~ .page-content, .ios .page-with-subnavbar .navbar ~ .page-content {
  padding-top: 0 !important; }
  .ios .navbar ~ .page-with-subnavbar:not(.no-navbar) .page-content .tabs-animated-wrap, .ios .navbar ~ :not(.no-navbar) .subnavbar ~ * .page-content .tabs-animated-wrap, .ios .navbar ~ :not(.no-navbar) .subnavbar ~ .page-content .tabs-animated-wrap, .ios .page-with-subnavbar .navbar ~ .page-content .tabs-animated-wrap {
    padding-top: 88px; }

.ios .toolbar.toolCon {
  top: 89px !important; }

.ios .tabbar-labels ~ * .page-content, .ios .tabbar-labels ~ .page-content {
  padding-bottom: 44px; }

.poverCurve .popover-angle.on-bottom {
  display: none; }

.md .page > .navbar ~ .searchbar {
  top: 45px; }

.md .page > .searchbar ~ * .page-content, .md .page > .searchbar ~ .page-content {
  padding-top: 94px !important; }

.md .searchbar input[type=search], .md .searchbar input[type=text] {
  font-size: 16px; }

.md .page > .searchbar:after {
  background: none; }

.ios .navbar ~ .page:not(.no-navbar) > .searchbar, .ios .page > .navbar ~ .searchbar {
  top: 44px; }

#equips .searchbar {
  z-index: 99;
  background: #fff; }
  #equips .searchbar:after {
    height: 0; }
  #equips .searchbar .search {
    background: #f6f6f6; }
  #equips .searchbar .searchbar-disable-button {
    color: #FD971F; }
#equips .ios .searchbar:after {
  height: 0; }
#equips .equip-list {
  margin-bottom: 30px;
  background: #fff; }
  #equips .equip-list li i {
    color: #7D828F; }
    #equips .equip-list li i.noCom {
      color: #7D828F; }
    #equips .equip-list li i.alarm {
      color: #FE4445; }
    #equips .equip-list li i.comOk {
      color: #54BB5C; }

#ycAndyx .searchbar {
  z-index: 99;
  background: #fff; }
  #ycAndyx .searchbar:after {
    height: 0; }
  #ycAndyx .searchbar .search {
    background: #f6f6f6; }
  #ycAndyx .searchbar .searchbar-disable-button {
    color: #FD971F; }
#ycAndyx .ios .searchbar:after {
  height: 0; }
#ycAndyx .toolbar {
  top: 50px;
  border-bottom: 1px solid #eee; }
  #ycAndyx .toolbar:after {
    height: 0; }
  #ycAndyx .toolbar .toolbar-inner {
    overflow: hidden; }
    #ycAndyx .toolbar .toolbar-inner > a.tab-link.tab-link-active {
      color: #FD971F;
      border-bottom: 2px solid  #FD971F; }
#ycAndyx #tabsWrap {
  height: calc(100% - 50px); }
  #ycAndyx #tabsWrap .tab {
    padding: 1rem;
    overflow: auto; }
    #ycAndyx #tabsWrap .tab .oneLine {
      padding: 1.5em 0;
      background: #fff;
      border-bottom: 1px solid #eee;
      align-items: center; }
      #ycAndyx #tabsWrap .tab .oneLine .name {
        padding-right: 5px; }
      #ycAndyx #tabsWrap .tab .oneLine .val {
        font-weight: 600; }
      #ycAndyx #tabsWrap .tab .oneLine .iconWrap {
        text-align: center; }
        #ycAndyx #tabsWrap .tab .oneLine .iconWrap i {
          color: #7D828F; }
          #ycAndyx #tabsWrap .tab .oneLine .iconWrap i.icon-tubiaofenxi {
            font-size: 18px;
            color: #3498db; }
          #ycAndyx #tabsWrap .tab .oneLine .iconWrap i.noCom {
            color: #7D828F; }
          #ycAndyx #tabsWrap .tab .oneLine .iconWrap i.alarm {
            color: #FE4445; }
          #ycAndyx #tabsWrap .tab .oneLine .iconWrap i.comOk {
            color: #54BB5C; }
    #ycAndyx #tabsWrap .tab#set li {
      width: 100%;
      font-size: 1rem;
      color: #DEF0F9;
      background: #2d8cf0;
      border-radius: 6px;
      margin-bottom: 10px; }

#eventQuery .eventQueryContent, #systemConfig .eventQueryContent {
  height: 100%;
  overflow: hidden;
  padding: 1rem; }
#eventQuery .fab a, #systemConfig .fab a {
  background: #3e7cfb; }
  #eventQuery .fab a i, #systemConfig .fab a i {
    font-size: 1.5rem; }
#eventQuery .equipCon, #systemConfig .equipCon {
  height: calc(100% - 40px); }
  #eventQuery .equipCon .eventWrap, #systemConfig .equipCon .eventWrap {
    height: calc(100% - 36px);
    overflow-y: auto; }
  #eventQuery .equipCon .item-title, #systemConfig .equipCon .item-title {
    font-size: 14px; }
#eventQuery .tabList, #systemConfig .tabList {
  margin: 0;
  background: #fff;
  height: 36px;
  width: 100%; }
  #eventQuery .tabList a, #systemConfig .tabList a {
    height: 100%;
    line-height: 36px; }
  #eventQuery .tabList .tab-link-active, #systemConfig .tabList .tab-link-active {
    background: #fff;
    border-bottom: 2px solid #FD971F !important; }
  #eventQuery .tabList .button, #systemConfig .tabList .button {
    transition-duration: 0s;
    -webkit-transition-duration: 0;
    color: #212121;
    border: none; }
    #eventQuery .tabList .button:last-child, #systemConfig .tabList .button:last-child {
      border-radius: 0; }
    #eventQuery .tabList .button:first-child, #systemConfig .tabList .button:first-child {
      border-radius: 0; }
#eventQuery .eventWrap, #systemConfig .eventWrap {
  width: 100%; }
  #eventQuery .eventWrap .tab, #systemConfig .eventWrap .tab {
    width: 100%; }
    #eventQuery .eventWrap .tab .list, #systemConfig .eventWrap .tab .list {
      height: 100%;
      overflow: auto; }
  #eventQuery .eventWrap li, #systemConfig .eventWrap li {
    background: #fff; }
    #eventQuery .eventWrap li .eventList, #systemConfig .eventWrap li .eventList {
      padding: 5px 0;
      align-items: center; }
      #eventQuery .eventWrap li .eventList .name, #systemConfig .eventWrap li .eventList .name {
        color: #757575; }

.sheet-alarm .block {
  overflow: auto;
  margin: 0 !important; }
  .sheet-alarm .block .list ul:before {
    height: 0; }

.sheet-condition-config {
  height: 320px; }
  .sheet-condition-config .toolbar-inner {
    background: white;
    border-bottom: 1px solid #eaeaea; }
  .sheet-condition-config .sheet-modal-inner {
    background: white; }
    .sheet-condition-config .sheet-modal-inner .block {
      margin: 0;
      height: 100%;
      overflow: hidden; }
      .sheet-condition-config .sheet-modal-inner .block .list {
        margin: 10px 0 0 0;
        height: calc(100% - 15px); }
        .sheet-condition-config .sheet-modal-inner .block .list .eq-list {
          height: 100%;
          overflow: auto; }
          .sheet-condition-config .sheet-modal-inner .block .list .eq-list:after {
            height: 0px; }

.ios .sheet-condition-config .toolbar:before {
  background-color: #eaeaea !important;
  height: 2px; }
.ios .sheet-condition-config a {
  color: #459ef1; }
.ios .sheet-condition-config .eq-list ul:before {
  height: 0; }
.ios .sheet-condition-config .eq-list i.icon-checkbox {
  border-radius: 0; }
.ios .popup-condition-config .searchbar {
  background: #fff; }

.md .sheet-condition-config .toolbar {
  transform: none; }
.md .sheet-condition-config a {
  color: #459ef1; }

.popup-config .page-content .list {
  margin: 0 0;
  height: 100%;
  background: #fff; }
  .popup-config .page-content .list.edictList .btn {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px; }
    .popup-config .page-content .list.edictList .btn .button {
      width: 45%;
      float: left; }
      .popup-config .page-content .list.edictList .btn .button.button-fill {
        float: right; }
  .popup-config .page-content .list ul {
    height: calc(100% - 80px);
    overflow: auto; }
    .popup-config .page-content .list ul:after {
      height: 0px; }
    .popup-config .page-content .list ul .item-title {
      color: #adadad; }
    .popup-config .page-content .list ul .item-after {
      color: #459ef1;
      max-width: 60%;
      white-space: normal; }
  .popup-config .page-content .list .btn {
    margin: 15px 0; }
    .popup-config .page-content .list .btn div {
      width: 60%;
      margin: 0 auto; }

.popup-condition .content-wrap {
  height: calc(100% - 44px);
  margin: 0 0; }
.popup-condition .list {
  margin-top: 0;
  height: calc(100% - 100px); }
  .popup-condition .list ul {
    height: calc(100% - 75px);
    margin-bottom: 15px;
    overflow: auto; }
    .popup-condition .list ul li .icon-checkbox {
      border-radius: 0; }

/*# sourceMappingURL=equips.css.map */
