.ios .navbar~.page-with-subnavbar:not(.no-navbar) .page-content, .ios .navbar~:not(.no-navbar) .subnavbar~* .page-content, .ios .navbar~:not(.no-navbar) .subnavbar~.page-content, .ios .page-with-subnavbar .navbar~.page-content{
        padding-top: 0 !important;
        .tabs-animated-wrap{
            padding-top: 88px;
        }
    }
.ios .toolbar.toolCon{
        top: 89px !important;
}
.ios .tabbar-labels~* .page-content, .ios .tabbar-labels~.page-content{
    padding-bottom:44px;
}

.popover-angle.on-bottom{
    display: none;
}

.md .page>.navbar~.searchbar{
    top: 45px;
}
.md .page>.searchbar~* .page-content, .md .page>.searchbar~.page-content{
    padding-top: 94px !important;
}
.md .searchbar input[type=search], .md .searchbar input[type=text]{
    font-size: 16px;
}
.md .page>.searchbar:after{
    background: none;
}
.ios .navbar~.page:not(.no-navbar)>.searchbar, .ios .page>.navbar~.searchbar{
    top: 44px;
}
#equips{
    .searchbar{
         z-index: 99;
            
            background: #fff;
            &:after{
                height: 0;
            }
            .search{
                background: #f6f6f6;
            }
            .searchbar-disable-button{
                color: #FD971F;
            }
    }
    .ios{
        .searchbar{
            &:after{
                height: 0;
            }
        }
    }
    
    .equip-list{
        background: #fff;
        li{
//          padding: 5px 0;
            i{
                color: #7D828F;
                &.noCom{
                    color: #7D828F;
                }
                &.alarm{
                    color: #FE4445;
                }
                &.comOk{
                    color: #54BB5C;
                }
            }
        }
       
    }  
    
}
#ycAndyx{
   .searchbar{
         z-index: 99;
            
            background: #fff;
            &:after{
                height: 0;
            }
            .search{
                background: #f6f6f6;
            }
            .searchbar-disable-button{
                color: #FD971F;
            }
    }
    .ios{
        .searchbar{
            &:after{
                height: 0;
            }
        }
    }
    .toolbar{
        top: 50px;
        border-bottom: 1px solid #eee;
        &:after{
             height: 0;
        }
        .toolbar-inner{
            overflow: hidden;
            &>a{
                &.tab-link.tab-link-active{
                    color: #FD971F;
                    border-bottom: 2px solid  #FD971F;
                }
            }
        }
    }
    #tabsWrap{
        height: calc(100% - 50px);
        .tab{
    
            overflow:auto;

            .oneLine{
                padding: 1.5em 0;
                background: #fff;
                border-bottom: 1px solid #eee;
                align-items: center;
                .name{
                    padding-right: 5px;
                }
                .val{
                    font-weight: 600;
                }
                .iconWrap{
                    text-align: center;
                    i{
                        color: #7D828F;
                        &.icon-tubiaofenxi{
                            font-size: 18px;
                            color: #3498db;
                        }
                        &.noCom{
                            color: #7D828F;
                        }
                        &.alarm{
                            color: #FE4445;
                        }
                        &.comOk{
                            color: #54BB5C;
                        }
//                      }
                    }
                }
            }
            &#set{
                li{
                    width: 100%;
                    background: #fff;
                    P{
                        margin: 1.5em 0;
                    }
                }
            }
        }
       
    }
}

