@charset "utf-8";
//@import 'public';
//全局字体颜色
//全局字体颜色
$allFontColor: white;

// header头部属性
$headerFontSize: 1.4rem;
$headerBgc: #000;
$headerBoxShadow: #eee;

// 全局背景色,字体颜色,内容背景颜色
$situationBgc: #f6f6f6;
$situationFontColor: #666;
$situationContainerBgc: #fff;
$situationBoxShadow: #eee;

//工具栏背景色
$toolbarBgc: #000;
$toolbarFontColor: white;
$selectedColor: #FD971F;
$toolbarBoxShadow: #eee;

//语音属性
$voiceAllBgc: rgba(0,0,0,0);
$voiceBgc: rgba(246,246,246,0.9);
$voiceFontColor: rgb(102, 102, 102);
$voiceBoxShadow: #777;

// aside侧边栏属性
$asideBgc: #272727;
$asideBorderColor: #414141;

// 统一按钮属性
$btnFontSize: 1rem;
$btnBackground: #2d8cf0;
$btnFontColor: #DEF0F9;

//统计栏属性
$statsBgc: #fff;
$statsFontColor: #333;
$statsBorderColor: #f0f4f7;
$selectedColor: #FD971F;


//未点击按钮颜色
$unclickedColor: #648EFF;
$unclickedColor_a: #f6f6f6;
$bzColor: #0ed1e6;
$unclickBorderRadius: 6px;
// 统一table样式
$tableHeaderFontSize: 1rem;
$tableHeaderFontColor: #666;
$tableTitle: antiquewhite;
$tableHeaderBgc: #ffffff;

$tableTbodyFontSize: 0.8rem;
$tableTbodyFontColor: #999;
$tableTbodySingleLineColor: #fff;
$tableBorderBottom: #eee;

//input样式
$inputBorderColor: #eee; 

// tab切换属性
$tabBackground: #cea16c;
$tabFontColor: white;

// popup弹框
$popupBackground: rgba(255,255,255,0.5);

$preBg:rgb(255,255,255);
$bg:rgb(242,243,245);
$titColor:rgb(173,173,173);
$valueColor:rgb(69,158,241);
$lineBg:rgb(234,234,234);
$activeBg:rgb(62,124,251);


.ios .navbar~.page-with-subnavbar:not(.no-navbar) .page-content, .ios .navbar~:not(.no-navbar) .subnavbar~* .page-content, .ios .navbar~:not(.no-navbar) .subnavbar~.page-content, .ios .page-with-subnavbar .navbar~.page-content{
        padding-top: 0 !important;
        .tabs-animated-wrap{
            padding-top: 88px;
        }
    }
.ios .toolbar.toolCon{
        top: 89px !important;
}
.ios .tabbar-labels~* .page-content, .ios .tabbar-labels~.page-content{
    padding-bottom:44px;
}

.poverCurve .popover-angle.on-bottom{
    
    display: none;
}

.md .page>.navbar~.searchbar{
    top: 45px;
}
.md .page>.searchbar~* .page-content, .md .page>.searchbar~.page-content{
    padding-top: 94px !important;
}
.md .searchbar input[type=search], .md .searchbar input[type=text]{
    font-size: 16px;
}
.md .page>.searchbar:after{
    background: none;
}
.ios .navbar~.page:not(.no-navbar)>.searchbar, .ios .page>.navbar~.searchbar{
    top: 44px;
}
#equips{
    .searchbar{
        z-index: 99;
        background: #fff;
        &:after{
            height: 0;
        }
        .search{
            background: #f6f6f6;
        }
        .searchbar-disable-button{
            color: #FD971F;
        }
    }
    .ios{
        .searchbar{
            &:after{
                height: 0;
            }
        }
    }
    
    .equip-list{
        margin-bottom: 30px;background: #fff;
        li{
            i{
                color: #7D828F;
                &.noCom{
                    color: #7D828F;
                }
                &.alarm{
                    color: #FE4445;
                }
                &.comOk{
                    color: #54BB5C;
                }
            }
        }
       
    }  
    
}
#ycAndyx{
   .searchbar{
         z-index: 99;
            
            background: #fff;
            &:after{
                height: 0;
            }
            .search{
                background: #f6f6f6;
            }
            .searchbar-disable-button{
                color: #FD971F;
            }
    }
    .ios{
        .searchbar{
            &:after{
                height: 0;
            }
        }
    }
    .toolbar{
        top: 50px;
        border-bottom: 1px solid #eee;
        &:after{
             height: 0;
        }
        .toolbar-inner{
            overflow: hidden;
            &>a{
                &.tab-link.tab-link-active{
                    color: #FD971F;
                    border-bottom: 2px solid  #FD971F;
                }
            }
        }
    }
    #tabsWrap{
        height: calc(100% - 50px);
        .tab{
            padding: 1rem;overflow:auto;
            .oneLine{
                padding: 1.5em 0;
                background: #fff;
                border-bottom: 1px solid #eee;
                align-items: center;
                .name{
                    padding-right: 5px;
                }
                .val{
                    font-weight: 600;
                }
                .iconWrap{
                    text-align: center;
                    i{
                        color: #7D828F;
                        &.icon-tubiaofenxi{
                            font-size: 18px;
                            color: #3498db;
                        }
                        &.noCom{
                            color: #7D828F;
                        }
                        &.alarm{
                            color: #FE4445;
                        }
                        &.comOk{
                            color: #54BB5C;
                        }
//                      }
                    }
                }
            }
            &#set{
                li{
                    width: 100%;font-size: #{$btnFontSize};color: #{$btnFontColor};background: #{$btnBackground};border-radius: #{$unclickBorderRadius};    margin-bottom: 10px;
                    P{
                        // margin: 1.5em 0;
                    }
                }
            }
        }
       
    }
}
#eventQuery,#systemConfig{
    .eventQueryContent{height: 100%;overflow: hidden;padding: 1rem;}
    .fab{
        a{
           background: $activeBg; 
           i{
               font-size: 1.5rem;
           }
        }
        
    }
    .equipCon{
        height:calc(100% - 40px) ;
        .eventWrap{
            height: calc(100% - 36px);
            overflow-y: auto;
        }
        .item-title{font-size: 14px;}
//      #tab-1,#tab-2,#tab-3,#tab-4,#equipEventContent ul,#setEventContent ul,#stsEventContent ul{margin-bottom: 100px;}
        
    }
    .tabList{
        margin: 0;
        background: #fff;
        height:36px; 
        width: 100%;
        a{
            height: 100%;line-height: 36px;
        }
        .tab-link-active{
            background: #fff;
            border-bottom: 2px solid #FD971F !important;
        }
        .button{
            transition-duration:0s;
            -webkit-transition-duration:0;
            color: #212121;
            border: none;
            &:last-child{
                border-radius: 0;
            }
            &:first-child{
                border-radius: 0;
            }
        }
    }
    .eventWrap{
        width: 100%;
        .tab{
//          border: 1px solid red;
            width: 100%;
        }
        li{
            background: #fff;
            .eventList{
                padding: 5px 0;
                align-items: center;
                .name{
                   color: #757575; 
                }
            }
        }
    }
}
.sheet-alarm{
    .block{
        overflow: auto;
        margin: 0 !important; 
        .list{
            ul:before{
                height: 0;
            }
        }
    }
    
}
.sheet-condition{
    height:320px;
    .toolbar-inner{
        background: $preBg;
        border-bottom: 1px solid $lineBg;
    }
    .sheet-modal-inner{
        background: $preBg;
        .block{
            margin: 10px 0 0 0;
            height: 100%;
           .list{
               margin: 10px 0 0 0;
               &.eq-list{
                   height: calc(100% - 135px);
                   overflow: auto;
               }
           }
        }
    }
    
    &.sheet-config{
        .sheet-modal-inner{
           
            .block{
               
               .list{
                   
                   &.eq-list{
                       height: calc(100% - 55px);
                      
                   }
               }
            }
        }
    }
}

.ios{
    .sheet-condition{
       .toolbar:before{
           background-color:$lineBg !important;
           height: 2px;
           
       }
       a{
            color: $valueColor;
        }
        .eq-list {
            ul:before{
                height: 0;
            }
            i.icon-checkbox{
                border-radius: 0;
            }
        }

    }
}
.popup-config{
    .page-content{
        
        .list{
            margin: 0 0;
            ul{
                overflow: hidden;
                .item-title{
                    color:$titColor ;
                }
                .item-after{
                    color: $valueColor;
                }
                .btn{
                    margin: 35px 0;
                    div{
                        width: 60%;
                        margin: 0 auto;
                    }
                }
            }
            
        }
       
    }
}
.md{
    .sheet-condition{
        .toolbar{
            transform:none;
        }
        a{
            color: $valueColor;
        }
    }
}
