/*
mixin：sass宏mixin
*/

@charset "utf-8";
@import 'public.scss';
#container {
    height: 100%;
}
#homeContents{
    width: 100%;height: 100%;overflow-y: auto;padding-bottom: 50px;
    &>ul.charts-block{
      width: 100%;
        &>li{
          width: 96%;margin: 10px auto 0;
          h3{text-align: left;font-size: 0.9rem;font-weight: 300;margin-bottom: 1rem;
          i{font-size: 1.5rem;margin-right: 10px;vertical-align: middle;position: relative;top: -2px;}
                }  
          dl{
            width: 100%;display: inline-block;
            dt{}
            dd{box-shadow: 0px -1px 1px #{$situationBoxShadow};
               width: 100%;text-align: center;padding: 10px;overflow: hidden; background: #{$statsBgc};  
              .charts_bar{
                width: 100%;#purchase_Bar{width: 100%;height: 190px;}
                .barRightBorder{border-right: 1px solid #{$statsBorderColor};}
                #purchase_ring,#purchase_circular{width: 100%;height: 190px;margin: 0 auto;}
                #purchase_Bar{margin: 0 auto;}
               }       
               .p-ellipsis1{font-size: 0.8rem;overflow: hidden; white-space: nowrap;   text-overflow: ellipsis;}            
            }            
          }
          .functionMenu{
            &>dt{
              width: 100%;height: 30px;display: inline-block;
              background: url(/Image/1.jpg) no-repeat center/ auto 100%;
            }
            &>dd{
              li{
                .homeBtn{
                  width: 100%;height: 100%;display: inline-block;color: #{$situationFontColor};
                  i{font-size: 2.5rem;}p{margin: 0.2rem 0;}
                  img{width: 40%;}
                }
              }
            }
          }
          .commonlyUsed{
            li{
              a{
                width: 100%;height: 100%;display: inline-block;
                i{font-size: 2.5rem;color: #{$situationFontColor};}
                p{color: #{$situationFontColor};margin: 0;}
              }
            }
          }
          .pptPattern_container,.jjPattern_container{
            h3{
              font-size: 1.3rem;color: #{$situationFontColor};font-weight: 100;text-align: center;position: relative;
              label{font-size: 12px;color: #{$unclickedColor};display: block;text-align: center;}
              span{display: inline-block;background: white;padding: 0px 5px;position: relative;z-index: 1;}
              &:after{content: "";width: 80%;height: 1px;border-top: 1px solid #{$statsBorderColor};position: absolute;left: 10%;top: 25%;right: 10%;}
             }
            ul>li>a{display: block;}
           }
           .pptPattern_container{ ol{border-right: 1px solid #{$statsBorderColor};}}
        }
        .statisticsTable{padding: 10px;box-shadow: 0px -1px 1px #{$situationBoxShadow};
          span{border-right: 1px dashed #eee;p{font-family: serif;font-size: 1.5rem;margin: 0.2rem 0;}}
          span:nth-of-type(1) p{color: red;}
          span:nth-of-type(2) p{color: #F18E2E;}
          span:nth-of-type(3) p{color: #4BCAF1;}
          span:nth-of-type(4) p{color: #FBD260;}
          span:nth-of-type(5) p{color: #5DA337;}
          text-align: center;background: #{$situationContainerBgc};}
    }
}