/*
mixin：sass宏mixin
*/

@charset "utf-8";
@import 'public.scss';

#homeContents{
    width: 100%;height: 100%;overflow-y: auto;padding-bottom: 50px;
    &>ul.charts-block{width: 100%;
        &>li{
          width: 96%;margin: 10px auto 0;
          dl{
            width: 100%;display: inline-block;
            dt{}
            dd{
               width: 100%;text-align: center;padding: 10px 0;border-radius: 5px;overflow: hidden; background: #{$statsBgc};  
              .charts_bar{
                width: 100%;#purchase_Bar{height: 90px;}
                .barRightBorder{border-right: 1px solid #{$statsBorderColor};}
                #purchase_ring,#purchase_circular{width: 150px;height: 150px;margin: 0 auto;}
                #purchase_Bar{margin: 0 auto;}
               }
               .p-ellipsis1{font-size: 0.9rem;overflow: hidden; white-space: nowrap;   text-overflow: ellipsis;}            
            }            
          }
          .functionMenu{
            &>dt{
              width: 100%;height: 30px;display: inline-block;
              background: url(/Image/1.jpg) no-repeat center/ auto 100%;
            }
            &>dd{
              li{
                margin-bottom: 15px;
                .homeBtn{
                  width: 100%;height: 100%;display: inline-block;color: #{$situationFontColor};
                  i{font-size: 2.5rem;}p{margin: 0.2rem 0;}
                  img{width: 40%;}
                }
              }
            }
          }
          .commonlyUsed{
            li{
              a{
                width: 100%;height: 100%;display: inline-block;
                img{width: 60%;margin: 0 auto;}
                p{color: #{$situationFontColor};margin: 0.2rem 0;}
              }
            }
          }
          .pptPattern_container,.jjPattern_container{
            h3{
              font-size: 1rem;color: #{$situationFontColor};font-weight: 100;padding-bottom: 20px;text-align: center;
              label{font-size: 12px;color: #{$unclickedColor};display: block;text-align: center;}
             }
            ul>li>a{display: block;}
           }
           .pptPattern_container{ ol{border-right: 1px solid #{$statsBorderColor};}}
        }
    }
}