/*
mixin：sass宏mixin
*/
@import '_mixin.scss';

// header头部属性
$headerFontSize: 1.4rem;
$headerBgc: #333;
// 全局背景色,字体颜色
$situationBgc: #fff;
$situationFontColor: #fff;
//工具栏背景色
$toolbarBgc: #333;
$toolbarFontColor: #929292;
$toolbarBoxShadow: #190f0f;
// aside侧边栏属性
$asideBgc: #272727;
$asideBorderColor: #4c4b4b;
// 统一按钮属性
$btnBackground: #2d8cf0;
$btnFontColor: #DEF0F9;
