<!DOCTYPE html>
<html class="with-statusbar">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<title>AlarmCenter | 首页</title>
		<link rel="icon" href="/Image/logo.png" type="image/x-icon">
		<!--框架样式-->
		<link rel="stylesheet" href="/Scripts/plug/1.5.0/framework7.min.css">
		<!--图标字体样式-->
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_823316_o4yamr1e3e.css" />
		<!-- <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_823316_fb4z0zy9is9.css" /> -->
		<!--声波动画-->
		<link rel="stylesheet" type="text/css" href="/Styles/Plugin/waveAnimation.css" />
		<!--本页样式-->
		<link rel="stylesheet" href="/Styles/Mobile/style.css">
		<link rel="stylesheet" href="/Styles/Mobile/framework.css">
		<link rel="stylesheet" href="/Styles/Mobile/setPage.css">
        <link rel="stylesheet" href="/Styles/Mobile/home.css">
        <link rel="stylesheet" href="/Styles/Mobile/welcomeWords.css">  
        <link rel="stylesheet" href="/Styles/Mobile/ppt.css">     
        <link rel="stylesheet" href="/Styles/Mobile/schedule.css">          
		<link rel="stylesheet" href="/Styles/Mobile/animate.min.css">
		<link rel="stylesheet" href="/Styles/Mobile/layout.css" />	
		<link rel="stylesheet" href="/Styles/Mobile/equips.css" />
	</head>
	<body>
		<div id="app" style="visibility: hidden;">
			<div class="statusbar"></div>
			<div class="view view-main">
				<div data-page="home" class="page" id="home">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="left hideMenu">
								<a href="#" class="back link">
									<i class="iconfont icon-back"></i>
								</a>  
							</div>
							<div class="center sliding title auth_name_get"></div>
							<div class="right">
								<a href="/setPage/" class="link icon-only panel-open"><i class="iconfont icon-f7_right_user"></i></a>
							</div>
						</div>
					</div>
					<div class="page-content mainDiv" >
					  <div id="homeContents">
						<ul class="charts-block">		
							<li class="row statisticsTable no-gap">
								<span class="col-20"><p>11</p>故障</span>
								<span class="col-20"><p>22</p>警告</span>
								<span class="col-20"><p>33</p>信息</span>
								<span class="col-20"><p>0</p>设置</span>
								<span class="col-20" style="border-right: 0;"><p>1</p>资产</span>
							</li>																		
							<li>
								<dl>
                               	  <dt></dt>
                               	  <dd>
									<div class="charts_bar">
										<div id="purchase_Bar" ></div>
									</div>
                               	  </dd>
                               </dl>
							</li>
							<li>
								<dl>
                               	  <dt></dt>
                               	  <dd>
	                                <div class="charts_bar row no-gap">
										<div class="col-50 barRightBorder">									
											<div id="purchase_ring"></div>
									    </div>
	                                    <div class="col-50">	
										     <div id="purchase_circular"></div>
									    </div>
									</div>
                               	  </dd>
                               </dl>
							</li>
							<li>
								<dl class="">
                               	  <dt></dt>
                               	  <dd>
									<ol class="row commonlyUsed">									
									</ol>
                               	  </dd>
                               </dl>
							</li>							
							<li class="row">
                               <dl class="functionMenu">
                               	  <dd class="row no-gap">
					                  <div class="pptPattern_container col-50">
	                                        <h3>
	                                        	<span>PPT</span>
	                                        	<label>ppt幻灯片播放</label>
	                                        </h3>
	                                        <ol class="row"></ol>
					                  </div>
					                  <div class="jjPattern_container col-50">
					                         <h3>
					                         	<span>讲解</span>
					                         	<label>视频讲解</label>
					                         </h3>
					                         <ol class="row"></ol>
					                  </div>					                  
                               	  </dd>
                               </dl>
							</li>								
							<li class="row">
                               <dl class="functionMenu">
                               	  <dd>
					                  <div class="swiper-containerTrailer KOvm_container">
					                    <div class="swiper-wrapper">
					                    </div>
					                    <div class="swiper-paginationTrailer swiper-paginationTrailer-KOvm"></div>
					                  </div>
                               	  </dd>
                               </dl>
							</li>														
						</ul>
					  </div>
					</div>
				</div>
				<div class="toolbar tabbar tabbar-labels displayNone">
					<div class="toolbar-inner row no-gap">
						<a href="/home/" class="link active animation-no col-20" id="homeTool">
							<i class="iconfont icon-f7_home"></i>
							<span>首页</span>
						</a>
						<a href="/snapshot/" class="link animation-no col-20" id="snapshotTool">
							<i class="iconfont icon-f7_snapshot"></i>
							<span>实时快照</span>
						</a>
						<a href="#" class="link col-20" id="voiceBtn" >
							<span><i class="iconfont icon-f7_voice"></i></span>
						</a>
						<a href="/equips/" class="link animation-no col-20" id="equipsTool">
							<i class="iconfont icon-f7_equipList"></i>
							<span>设备列表</span>
						</a>
						<a href="#" class="link animation-no popover-open col-20" data-popover=".popover-links" id="configTool">
							<i class="iconfont icon-f7_set"></i>
							<span>系统</span>
						</a>
					</div>
				</div>
			   <div class="popover popover-links popoverLink" style="width: 140px!important;text-align: center;">
					<div class="popover-inner">
						<div class="list">
							<ul>
								<li>
									<a class="list-button item-link popover-close" href="/eventQuery/">事件查询</a>
								</li>
								<li>
									<a class="list-button item-link popover-close" href="/systemConfig/">系统配置</a>
								</li>
								<li>
									<a class="list-button item-link popover-close" href="/schedule/">报警排表</a>
								</li>
								<li>
									<a class="list-button item-link popover-close" href="/equipLinkage/">设备联动</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="voiceContainer" id="voiceContainer">
					<div class="voiceDivs voicePanel">
						<a href="#" class="iconfont icon-f7_voice_close"></a>
						<div class="">
							<div id="voiceMessage" class="voiceTitle" style="display: block;">按住说话</div>
							<div id="waveAnim" class="waveAnim" style="display: none;"><i></i><i></i><i></i><i></i><i></i></div>
							<div class="voicetest"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 框架js-->
		<script src="/Scripts/plug/jquery-1.10.1.min.js"></script>
		<script src="/Scripts/plug/jq.ajax.js"></script>
		<script src="/Scripts/plug/highcharts.js"></script>
		<script type="text/javascript" src="/Scripts/plug/1.5.0/framework7.js"></script>
		<script src="/Scripts/plug/echarts.min.js"></script>
		<!-- 配置js -->
		<script type="text/javascript" src="/Scripts/mobile/Config.js"></script>
        <!-- 快捷菜单 -->
        <script src="/Scripts/plug/jquery.wheelmenu.js" type="text/javascript" charset="utf-8"></script> 
        <script type="text/javascript">
            $(document).ready(function() {
            	$("#voiceBtn p").height($("#voiceBtn").width()*0.65).width($("#voiceBtn").width()*0.65); //voice
                $(".wheel-button").wheelmenu({
                    trigger: "click",
                    animation: "fly",
                    animationSpeed: "medium"
                });
            });
            
            function initWheelmenu(){
                $(".wheel-button").wheelmenu({
                    trigger: "click",
                    animation: "fly",
                    animationSpeed: "medium"
                });
            }
        </script>			
		<!-- 首页js-->
		<script type="text/javascript" src="/Scripts/mobile/home.js"></script>
		<!-- 移动端入口js-->
		<script type="text/javascript" src="/Scripts/mobile/mobileAll.js"></script>
		<script type="text/javascript" src="/Scripts/mobile/PageJs.js"></script>
		<script type="text/javascript" src="/Scripts/mobile/Voice.js"></script>
        <!-- 全屏设置 -->
		<script type="text/javascript" src="/Scripts/plug/1.5.0/onorientationchange.js"></script>
		<!-- map -->
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=rfoFCQF6wWFKVgnW7M9dihXscceje5cs"></script>
	</body>

</html>