<div class="page " data-page="scheduleModify" id="scheduleModify">
    <div class="navbar">
        <div class="navbar-inner">
           <div class="left">
                <a href="#" class="back link">
                    <i class="iconfont icon-back"></i>
                </a>
            </div>
            <div class="center sliding title scheduleModify">
                 内容修改
            </div>
            <div class="right">
                <a class="link icon-only panel-open" href="/setPage/">
                    <i class="iconfont icon-f7_right_user">
                    </i>
                </a>
            </div>                    
        </div>
    </div>
    <div class="page-content">

        <div class="scheduleModifyContainer list form-store-data" id="my-form">
          <ul>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">人员姓名</div>
                  <div class="item-input-wrap">
                    <input type="text" name="name" placeholder="你的姓名" class="schedule_username">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">电话号码</div>
                  <div class="item-input-wrap">
                    <input type="email" name="email" placeholder="你的电话号码" class="schedule_hpone">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">短信号码</div>
                  <div class="item-input-wrap">
                    <input type="email" name="email" placeholder="你的短信号码" class="schedule_msm">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">电子邮箱</div>
                  <div class="item-input-wrap">
                    <input type="email" name="email" placeholder="你的电子邮箱" class="schedule_email">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">报警级别</div>
                  <div class="item-input-wrap">
                    <input type="email" name="email" placeholder="报警级别" class="schedule_level">
                  </div>
                </div>
              </div>
            </li>                        
          </ul>
          <button class="comfirmModify" onclick="onUserLogout()">确认</button>
        </div>  

    </div>
</div>

