<div class="page " data-page="schedule" id="schedule">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a class="link" href="#" id="schedule_user_nav" onclick='newlyBuildUser(" "," "," "," "," ",2,"");'><i class="iconfont icon-f7_add"></i></a>
                <a class="link displayNone" href="#" id="schedule_equip_nav" onclick='equipAlert("",2);'><i class="iconfont icon-f7_add"></i></a>
                <a class="link displayNone" href="#" id="schedule_administartor_nav" onclick='newlyBuildAlmReport("",2);'><i class="iconfont icon-f7_add"></i></a>
                <a class="link displayNone" href="#" id="schedule_specificDate_nav" onclick='newlyBuildWeekAlmReport(2);'><i class="iconfont icon-f7_add"></i></a>
                <a class="link displayNone" href="#" id="schedule_weeklytable_nav" onclick='newlyBuildSpeAlmReport("",2);'><i class="iconfont icon-f7_add"></i></a>
            </div>
            <div class="center sliding title">
                报警排表
            </div>
            <div class="right">
                <a class="link icon-only panel-open" href="/setPage/">
                    <i class="iconfont icon-f7_right_user">
                    </i>
                </a>
            </div>                    
        </div>
    </div>
    <div class="page-content">
      <div class="scheduleContainer">
        <div class="subnavbarTabel row">
            <a class="col-20 selectScheduleMenu" href="#schedule_user">
                人员
            </a>
            <a class="col-20" href="#schedule_equip">
                设备分组
            </a>
            <a class="col-20" href="#schedule_administartor">
                管理范围
            </a>
            <a class="col-20" href="#schedule_specificDate">
                周排表
            </a>
            <a class="col-20" href="#schedule_weeklytable">
                特定排表
            </a>
        </div>

        <div class="scheduleContent">
            <div class="row" id="schedule_user">
                <table class="publicTable">
                     <thead><tr>
                        <td>人员姓名</td>
                        <td>电话</td>
                        <td>短信</td>
                        <td>电子邮箱</td>
                        <td>报警级别</td>
                    </tr></thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="displayNone" id="schedule_equip">
                 <table class="publicTable">
                     <thead><tr>
                        <td>设备分组</td>
                        <td>操作</td>
                    </tr></thead>
                    <tbody>
                    </tbody>
                 </table>
            </div>
            <div class="displayNone" id="schedule_administartor">
                 <table class="publicTable">
                     <thead><tr>
                        <td>人员姓名</td>
                        <td>设备分组名称</td>
                    </tr></thead>
                    <tbody>
                    </tbody>
                 </table>
            </div>
            <div class="displayNone" id="schedule_specificDate">
                 <table class="publicTable">
                     <thead><tr>
                        <td>人员姓名</td>
                        <td>星期</td>
                        <td>开始时间</td>
                        <td>结束时间</td>
                    </tr></thead>
                    <tbody>
                    </tbody>
                 </table>
            </div>
            <div class="displayNone" id="schedule_weeklytable">
                <table class="publicTable">
                     <thead><tr>
                        <td>人员姓名</td>
                        <td>开始时间</td>
                        <td>结束时间</td>
                    </tr></thead>
                    <tbody>
                    </tbody>
                 </table>
            </div>                        
        </div>
        </div>
    </div>
        

</div>

