<div class="page " data-page="schedule" id="schedule">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left hideMenu">
                <a class="back link" href="#">
                    <i class="iconfont icon-back">
                    </i>
                </a>
            </div>
            <div class="center sliding title">
                报警排表
            </div>
            <div class="right">
                <a class="link icon-only panel-open" href="/setPage/">
                    <i class="iconfont icon-f7_right_user">
                    </i>
                </a>
            </div>                    
        </div>
    </div>
    <div class="page-content ptr-content hide-bars-on-scroll" data-ptr-distance="55">
      <div class="scheduleContainer">
        <div class="subnavbarTabel">
            <a class="button tab-link" href="#schedule_user">
                人员
            </a>
            <a class="button tab-link" href="#schedule_equip">
                设备分组范围
            </a>
            <a class="button tab-link" href="#schedule_administartor">
                管理范围
            </a>
            <a class="button tab-link" href="#schedule_specificDate">
                周排表
            </a>
            <a class="button tab-link" href="#schedule_weeklytable">
                特定日期排表
            </a>
        </div>

        <div class="scheduleContent">
            <div class="tab active" id="schedule_user">
                <div class="content-block">
                    1111111111
                </div>
            </div>
            <div class="tab" id="schedule_equip">
                <div class="content-block">
                    22222222222
                </div>
            </div>
            <div class="tab" id="schedule_administartor">
                <div class="content-block">
                    333333333
                </div>
            </div>
            <div class="tab" id="schedule_specificDate">
                <div class="content-block">
                    4444444444
                </div>
            </div>
            <div class="tab" id="schedule_weeklytable">
                <div class="content-block">
                   555555555
                </div>
            </div>                        
        </div>
        </div>
    </div>
</div>

