

    <div data-page="systemConfig" class="page" id="systemConfig">
        <div class="navbar">
            <div class="navbar-inner">
                <!-- 标题 -->                  
                <div class="left hideMenu">
                    <a href="#" class="back link">
                        <i class="iconfont icon-back"></i>
                    </a>
                </div>                         
                <div class="center sliding title">系统配置</div>
                        <div class="right">
                            <a href="/setPage/" class="link icon-only panel-open"><i class="iconfont icon-f7_right_user"></i></a>
                        </div>
            </div>
        </div>        
        <!--"pull-to-refresh-content"类表示下拉刷新 -->
        <div  class="page-content" >
         	<form class="searchbar">
			  <div class="searchbar-inner">
			    <div class="searchbar-input-wrap">
			      <input type="search" placeholder="关键字">
			      <i class="searchbar-icon"></i>
			      <span class="input-clear-button"></span>
			    </div>
			    <span class="searchbar-disable-button">取消</span>
			  </div>
			</form>
            <div class="row no-gap equipCon" >
            	<div class="col-25" >
            		<!--设备列表-->
	            	<ul class="equipList">
	            	</ul>
            	</div>
            	<div class="col-75">
					<p class="segmented tabList" >
            			<a href="#tab-1" class="tab-link  button" onclick="getEquip()">设备</a>
      					<a href="#tab-2" class="tab-link  button"  onclick="getYc()">遥测</a>
     					<a href="#tab-3" class="tab-link button"  onclick="getYx()">遥信</a>
     					<a href="#tab-4" class="tab-link button"  onclick="getSet()">设置</a>
					</p>
            		<!--<div class="tabs-animated-wrap eventWrap">-->
					    <div class="tabs eventWrap">
					    	<div class="searchbar-backdrop"></div>
					      <div id="tab-1" class="tab">
					      	<span class="progressbar-infinite"></span>
					       	<div class="list accordion-list" style="margin: 0;">
							  <ul id="equipTable" >
							    
							  	<!--<div class="preloader infinite-scroll-preloader"></div>-->
							  </ul>
							</div>
					      </div>
					      <div id="tab-2" class="tab">
					      	<span class="progressbar-infinite"></span>
					      	<div class="list accordion-list" style="margin: 0;">
							  <ul id="ycp">
					       		
							    
							  </ul>
							</div>
					      </div>
					      <div id="tab-3" class="tab">
					      	<span class="progressbar-infinite"></span>
					      	<div class="list accordion-list" style="margin: 0;">
							  <ul id="yxp">
					        	
							   
							  </ul>
					        </div>
					      </div>
					      <div id="tab-4" class="tab">
					      	<span class="progressbar-infinite"></span>
					      	<div class="list accordion-list" style="margin: 0;">
							  <ul id="set">
					        	
							    
							  </ul>
					        </div>
					      </div>
					<!--</div>-->
            		
            	</div>
            </div>
        </div>
    </div>
