<div data-page="test" class="page" id="test">
	<div class="navbar">
		<div class="navbar-inner">
			<!-- 标题 -->
            <div class="left">
                左边菜单 
           </div>  
           <div class="center sliding title">中间菜单</div>
           <div class="right">
                右边菜单
           </div>
		</div>
	</div>
	<!--内容快 -->
	<div class="page-content" >
 	    <section>
 	      <h2>遥信展示</h2>
 	       当前设备号状态为:<label class="yx"> </label>
 	      </section>

 	    <section>
 	      <h2>遥测展示</h2>
 	       当前设备号实时值为:<label class="yc"> </label>
 	      </section>


 	       	    <section>
 	      <h2>设备控制</h2>
 	        <button class="controlEquip" type="button">controlEquip</button>
 	      </section>

	</div>
</div>