

    <div data-page="welcomeWords" class="page" id="welcomeWords" style="    background: #1b0e0e;">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left"></div>
                <div class="center sliding title">欢迎词</div>
                <div class="right">                          
                    <div class="item-input rightInput" style="position: relative;">
                       
                    </div> 
                </div>
            </div>
        </div>
        <div class="page-content tabs-animated-wrap welcomeContent">
             <div >
               <div class="row saveWords" style="margin-top: 20px;    padding: 0px 10px;background: #1b2531;">
                  <textarea placeholder="请输入欢迎词" value="" class="col-100 publicInputEdit welcomeInput" ></textarea>
 
               </div>

                 <div class="row" >
                       <div class="setStyle row">
                          <div class="row setStyleFont" style="text-align: left;">
                              <div class="col-33 fontBackground">
                                <span>大小</span><input type="number" value="20"  class="canvasFont publicInput welcomeFont"  />
                              </div>
                              <div class="col-33 fontBackground">
                                <span>左距</span><input type="number" value="0"  class="canvasLeft publicInput"  />
                              </div>
                              <div class="col-33 fontBackground">
                                <span>顶距</span><input type="number" value="0"  class="canvasTop publicInput" />
                              </div>
                              <div class="col-33 fontBackground">
                                <span>字体</span>
                                 <select class="publicInput" style="width: 60%;" id="fontFamily">
                                     <option sselected="selected" data-font="Microsoft JhengHei">微软雅黑</option>
                                     <option data-font="SimSun">宋体</option>
                                     <option data-font="SimHei">黑体</option>
                                     <option data-font="Microsoft JhengHei">微软正黑体</option>
                                     <option data-font="NSimSun">新宋体</option>
                                     <option data-font="PMingLiU">新细明体</option>
                                     <option data-font="MingLiU">细明体</option>
                                     <option data-font="DFKai-SB">标楷体</option>
                                     <option data-font="FangSong">仿宋</option>
                                     <option data-font="KaiTi">楷体</option>
                                     <option data-font="FangSong_GB2312">仿宋_GB2312</option>
                                     <option data-font="KaiTi_GB2312">楷体_GB2312</option>
                                     <option data-font="fantasy">fantasy</option>
                                     <option data-font="monospace">monospace</option>
                                     <option data-font="LiHei Pro Medium">LiHei Pro Medium</option>
                                     <option data-font="cursive">cursive</option>
                                 </select>
                              </div>
                              <div class="col-33 fontBackground" style="color: white;font-size: 1rem;">
                                <span for="centerChcek">居中</span>
                                <div class="selectDiv"><input type="checkbox" name="" id="centerChcek"></div>
                              </div>
                              <div class="col-10 center"><a href="#" class="iconfont icon-bgy15 fontStyle"></a></div>
                              <div class="col-10 center"><a href="#" class="iconfont icon-bgy14 fontStyle"></a></div>
                              <div class="col-15"> <a href="#" class="activeSkin activeColor"></a></div>

                          </div>
                      <div class="row col-100 saveWords textStyle">
                          <a href="#" class="col-33"   set_no="4022" set_equip="1005" id="viewsSave" style="">预览</a>
                          <a href="#" class="col-33" id="saveWord" style="">保存</a>
                          <a href="#" class="col-33 weicomeClose" set_no="4021" set_equip="1005" style="">关闭</a>
                      </div>



                   </div>
              </div>

              <div class="setStyle_color col-33 displayNone" id="SelectSkin">
                      <div id="colorSkin">
                        <div class="row" >
                          <a href="#" class="col-33" ><i></i></a>
                          <a href="#" class="col-33" ><i></i></a>
                          <a href="#" class="col-33" ><i></i></a>
                          <a href="#" class="col-33" ><i></i></a>
                          <a href="#" class="col-33" ><i></i></a>
                          <a href="#" class="col-33" ><i></i></a>
                          <a href="#" class="col-33" ><i></i></a>
                          <a href="#" class="col-33" ><i></i></a>
                          <a href="#" class="col-33" ><i></i></a>
                      </div>
                    </div>
              </div>


              <div class="wecomeButtom">
                   <h3  >背景选择</h3>
                      <div class="swiper-container swiper-3">
                        <div class="swiper-wrapper setBackground">
                         

                        </div>
                      </div>
             </div>
             <!-- 欢迎词关闭 -->
            
        </div>
    </div>
