
<div data-page="ycAndyx" class="page  page-with-subnavbar" id="ycAndyx">
        <div class="navbar">
            <div class="navbar-inner">
                <!-- 标题 -->                  
                <div class="left ">
                    <a href="#" class="back link">
                        <i class="iconfont icon-back"></i>
                    </a>
                </div>                           
                <div class="center sliding title" id="titleStats">测试</div>
                <div class="right">
                    <a href="#" class="link icon-only ">
                    	 <i class="iconfont icon-back" style="color:transparent ;background: none;"></i>
                    </a>
                </div>
            </div>
           
        </div>    
        
        <!--"pull-to-refresh-content"类表示下拉刷新 -->
        <div  class="page-content ptr-content" >
        	
            <!-- 默认的下拉刷新层 -->
            <div class="ptr-preloader">
              <div class="preloader"></div>
              <div class="ptr-arrow"></div>
            </div>
           <div class="toolbar tabbar toolCon">
				    <div class="toolbar-inner tabCon">
				    </div>
  			</div>
			 
            <div class="tabs-animated-wrap" id="tabsWrap">
			    <div class="tabs" id="tabs">
			      <div id="ycp" class=" tab tab-active">
			        	<!--<div class="tabTitle row">
			        		<div class="col-15">
			        			状态
			        		</div>
			        		<div class="col-35">
			        			名称
			        		</div>
			        		<div class="col-25">
			        			实时值
			        		</div>
			        		<div class="col-25">
			        			曲线
			        		</div>
			        	</div>-->
			        	<!--<div class="tabContent">
			        		
			        		
			        	</div>-->
			        	
			        	<!--<div class="itemOne">
			        		<p class="name">交流输入电压</p>
			        		<ul>
			        			<li class="sta">
			        				<i class="iconfont icon-dian comOk"></i>
			        			</li>
			        			<li class="sta">
			        				丨
			        			</li>
			        			<li>
			        				实时值 &nbsp;<span>238v</span>
			        			</li>
			        		</ul>
			        	</div>-->
			        	
			        	
			        	
			        	
			        	
			      </div>
			      <div id="yxp" class=" tab">
			        	<!--<div class="tabTitle row">
			        		<div class="col-15">
			        			状态
			        		</div>
			        		<div class="col-45">
			        			名称
			        		</div>
			        		<div class="col-40">
			        			实时状态
			        		</div>

			        	</div>
			        	<div class="tabContent">
			        		
			        	</div>-->
			        	<!--<div class="itemOne">
			        		<p class="name">交流输入电压</p>
			        		<ul>
			        			<li class="sta">
			        				<i class="iconfont icon-dian comOk"></i>
			        			</li>
			        			<li class="sta">
			        				丨
			        			</li>
			        			<li>
			        				实时值 &nbsp;<span>238v</span>
			        			</li>
			        		</ul>
			        	</div>-->
			      </div>
			      <div id="set" class="tab" >
			        	<!--<div class="tabContent">
			        		
							
			        	</div>-->
			        	
			        	
			      </div>
			    </div>
			</div>
            
        </div>
           
            
</div>
